<tool name="WinReg">  <version>3.0.0</version>  <date>2018-02-16</date>  <container>#._WinReg</container>  <files></files>  <needs>    <script>APLTreeUtils</script>    <script>FilesAndDirs</script>    <script>OS</script>    <script>Tester</script>  </needs>  <scriptOnly>1</scriptOnly>  <wsid>Development</wsid>  <autoload>1</autoload>  <buildid>3</buildid></tool>