<tool name="WinReg">  <version>5.0.1</version>  <date>2020-12-17</date>  <container>#.WinReg</container>  <needs>    <script>APLTreeUtils2</script>    <script development="true">FilesAndDirs</script>    <script development="true">OS</script>    <script development="true">Tester2</script>    <script development="true">CodeCoverage</script>  </needs>  <autoload>1</autoload>  <buildid>15</buildid>  <scriptOnly>1</scriptOnly>  <package>1</package>  <desc>Tools for dealing with the Windows Registry</desc>  <tags>apltree;windows-registry;windows</tags></tool>
